.styleCard {
  width: 250px;
  height: 300px;
  margin: 20px 20px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  /* display: flex; */
  justify-content: center;
  line-height: 2.5;
  font-family: "Roboto";
  /* flex-direction: row; */
}
.styleCard ul li h1 {
  background: #f14e4e;
  padding-top: 20px;
  color: white;
  width: 250px;
  height: 80px;
}

.styleCard i {
  margin-right: 18px;
}
.container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
