.styleCard {
  width: 300px;
  height: 250px;
  background-color: #ccc;
  margin: 20px 20px;
  text-align: left;
  float: left;

  
}.tirar{
    list-style:none;
}
.blue {
  background-color: #5271c2;
}
.green {
  background-color: #35a541;
}
.yellow {
  background-color: #bdb235;
}
.orange {
  background-color: #db6623;
}
.brown {
  background-color: #aa9e5c;
}
