/* Welcome */

.main-welcome {
    min-height: 100px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: lighter;
    color: #212121;
    /* border-bottom: 60px solid #f1f1f1; */
    background: rgba(255, 255, 255, 0);
    background: radial-gradient(circle, #038C8C 0%, #026873 100%);
    text-align: center;
}

.main-welcome .welcome-title {
    font-weight: lighter;
}

.main-welcome .subtile-welcome {
   color: #212121;
    font-size: 16px;
}

