/* Welcome */

.main-welcome {
    min-height: 100px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: lighter;
    color: #012840;
    /* border-bottom: 60px solid #f1f1f1; */
    background: white;

    text-align: center;
}

.main-welcome .welcome-title {
    font-weight: normal;
}

.main-welcome .subtile-welcome {
   color: #012840;
    font-size: 20px;
}

