.form-booking {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.input-form::placeholder {
    opacity: 0;
}

@media (min-width: 1500px) {
    .form-booking {
        padding-top: 250px;
        justify-content: center;
    }
    .justify{
        height: 80px;
        width: 600px;
        font-size: 23px;
    }
}

@media (max-width: 650px) {
    .justify label{
        display: none;
    }
    .justify .input-form::placeholder {
        opacity: 1;
    }
}