.form-resource {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.justify {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.justify label{
    margin-top: 15px;
}

@media (min-width: 1500px) {
    .form-resource {
        padding-top: 250px;
        justify-content: center;
    }
    .justify{
        height: 80px;
        width: 600px;
        font-size: 23px;
    }
}