@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.pen-edit{
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 7px;
    margin-right: 5px;
    height: 10px;
    width: 10px;
}
.pen{
    height: 23px;
    width: 23px;
}
