@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');
html, body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    
    background:url("./background.png"),
    linear-gradient(to right bottom, rgb(41, 91, 167), rgb(120, 180, 84));
    font-family: 'Poppins', sans-serif;
  }