.section-header {

  
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

.section-header .icon-calendar {
    font-size: 50px;
    color: #5E4242;
}


@media screen and (max-width: 650px) {
    .main-content .section-header .content-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .main-content .section-header .content-title {
        font-size: 14px;
    }
}